.user-item
  position relative
  padding-left 50px
  margin 10px 0

.user-item__avatar
  position absolute
  left 0

.user-item__img
  border-radius 5px

.user-item__state
  width 10px
  height 10px
  background-color #ccc
  border-radius 50%
  position absolute
  border 2px solid #eee
  top -6px
  left -6px


.user-item__state_online
  background-color #45CA0E
.user-login
  margin 0 0 10px 0

.user-item__display-name
  margin-bottom: 10px

.user-item__login
  display: inline-block
  vertical-align middle

.user-item__url-icon
  width: 16px
  height: 16px
  background: #ccc
  display: inline-block
  vertical-align middle
  margin-left: 10px