.message-item
  position relative
  padding-left 50px
  margin-bottom 15px

.message-item__user
  float left
  font-size 1rem

.message-item__user-avatar
  position absolute
  left 0

.message-item__user-display-name
  margin 0
  font-weight 500
  display inline-block
  vertical-align middle
  font-size 1rem

.message-item__user-url-icon
  color #000
  margin-left 5px
  display inline-block
  vertical-align middle

.message-item__time
  float right
  color #9C9C9C
  font-size: .8rem
  line-height: 1rem

.message-item__text
  clear both

.message-item__user-img
  border-radius 5px

.message-item__user-state
  width 10px
  height 10px
  background-color #ccc
  border-radius 50%
  position absolute
  border 2px solid #eee
  top -6px
  left -6px

.message-item__user-state_online
  background-color #45CA0E

.message-item__header
  margin-bottom 5px
