.message-list
  height 400px
  margin-bottom 10px
  overflow-y auto
  box-sizing border-box
  padding 0 10px 0 0

.textbox-section
  height 90px
  background-color #eee
  text-align center
  line-height 90px
  font-size 40px
  cursor pointer
  &:hover
    background-color #ccc

