body
  font-family 'Roboto', sans-serif
  font-size 16px
  line-height 1.2

#app
  width 800px
  margin 20px auto

.message-section
  width 500px
  float right

.message-list
  height 400px
  margin-bottom 10px
  overflow-y auto
  box-sizing border-box
  padding 0 10px 0 0

.textbox-section
  height 90px
  background-color #eee
  text-align center
  line-height 90px
  font-size 40px
  cursor pointer
  &:hover
    background-color #ccc

