.messagebox__input
  width 80% !important
  height: 40px
  box-sizing border-box
  display: block
  float: left
  border 1px solid #ccc

.messagebox__button
  width 20%
  height 40px
  box-sizing border-box
  display: block
  float: left
  border: 0