.header {
  width: 100%;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header h1 {
  margin: 0 auto;
}
.header h1 .shred {
  color: #f00;
}
