.logout
    float: right
    margin-top: 10px
    margin-right: 20px
    &__name
        display: inline-block
        vertical-align: top
        height: 28px
        margin-left: 10px
        font-weight: bold
        font-size: 15px
        line-height: 28px

    &__button
        display: inline-block
        position: relative
        width: 28px
        height: 28px
        margin-left: 10px;
        border: 0
        cursor: pointer
        background-color: #000

    &__wrapper
        position: relative
        display: inline-block
        vertical-align: top
        width: 28px
        height: 28px
        border-radius: 50%
        border: 1px solid #fd5
        overflow: hidden
        box-sizing: border-box

    &__img
        position: relative
        width: 100%
        border-radius: 50%
        
